*.VC.db
/CastleOfPerdition/Saved/Config/CrashReportClient/UE4CC-Windows-590D8BF8430FA1AAE6C62181C3C63B65/CrashReportClient.ini
/CastleOfPerdition/Saved/Backup/will_blueprint_2017-12-01-15-01-01.uasset
/CastleOfPerdition/Saved/Backup/BP_2DSideScrollerCharacter_2017-12-01-15-01-01.uasset
